
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* Top Nav Design */
.top-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
  background-color: #1e5631;
  color: white;
}

.top-nav img {
  width: 80px;
  border-radius: 50%;
}

.info-text {
  color: white;
  font-size: 12px;
}

.top-nav-mid {
  font-size: 20px;
  font-weight: bold;
}

.contact, .language, .buttons {
  margin: 5px 0;
}
  body {
      font-family: 'Segoe UI', sans-serif;
      background-color: #f9fff5;
      margin: 0px;
      padding:0px;
    }
    .container {
      max-width: 100%;
      margin: auto;
      background-color: #ffffff;
      padding: 10px;
      border-radius: 10px;
      box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    }

    h1, h2 {
      color: #2e7d32;
    }

    ul {
      margin-left: 20px;
    }

    li {
      margin-bottom: 8px;
    }

    .section {
      margin-bottom: 30px;
    }

    @media (max-width: 600px) {
      .container {
        padding: 15px;
      }
    }
    /* footer-section */
    footer {
      background-color: #2e7d32; /* Dark Green */
      color: #fff;
      padding: 40px 20px;
      text-align: center;
    }
    
    .footer-container {
      max-width: 1200px;
      margin: auto;
    }
    
    .footer-content h3 {
      font-size: 28px;
      margin-bottom: 10px;
    }
    
    .footer-content p {
      font-size: 16px;
      margin-bottom: 20px;
    }
    
    .contact-via-social a {
      text-decoration: none;
      color: #fff;
      background-color: #4caf50;
      padding: 12px 14px;
      margin: 5px;
      border-radius: 50%;
      display: inline-block;
      font-size: 20px;
      transition: 0.4s;
    }
    
    .contact-via-social a:hover {
      background-color: #1b5e20;
      transform: scale(1.2);
      color: #fff;
    }
    
    .footer-credit {
      margin-top: 20px;
      font-size: 14px;
      color: #ccc;
    }